In [2]:
import numpy as np
import pandas as pd
import pingouin as pg

In [3]:
data_group1 = np.array([160, 150, 160, 156.12, 163.24,
                        160.56, 168.56, 174.12,
                        167.123, 165.12])
data_group2 = np.array([157.97, 146, 140.2, 170.15,
                        167.34, 176.123, 162.35, 159.123,
                        169.43, 148.123])
print("first group mean",data_group1.mean())
print("second group mean",data_group2.mean())
result = pg.ttest(data_group1, data_group2, correction = False)
result

first group mean 162.4843
second group mean 159.6809

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.653148,18,two-sided,0.521917,"[-6.21, 11.82]",0.292097,0.462,0.094912

# -------------------------------

In [4]:
data_group1 = np.array([180, 190, 170, 176.12, 193.24,
                        190.56, 188.56, 174.12,
                        167.123, 165.12])
data_group2 = np.array([157.97, 146, 140.2, 170.15,
                        167.34, 176.123, 162.35, 159.123,
                        169.43, 148.123])
print("first group mean",data_group1.mean())
print("second group mean",data_group2.mean())
result = pg.ttest(data_group1, data_group2, correction = False)
result

first group mean 179.4843
second group mean 159.6809

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.97079,18,two-sided,0.000896,"[9.33, 30.28]",1.775791,32.733,0.963377

# -------------------------------

In [11]:
data_group1 = np.array([180, 190, 170, 176.12, 193.24,
                        190.56, 188.56, 174.12,
                        167.123, 165.12])
data_group2 = np.array([157.97, 146, 140.2, 170.15,
                        167.34, 176.123, 162.35, 159.123,
                        169.43, 148.123])
print("first group mean",data_group1.mean())
print("second group mean",data_group2.mean())
result = pg.ttest(data_group1, data_group2, correction = False, alternative = 'less')
result

first group mean 179.4843
second group mean 159.6809

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.97079,18,less,0.999552,"[-inf, 28.45]",1.775791,0.015,2.113674e-08